<div class="flex justify-center py-3 shadow-lg">
    <div class="w-2/12 flex justify-center">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="fill-white w-6 h-6">
            <path d="M511.1 63.1v287.1c0 35.25-28.75 63.1-64 63.1h-144l-124.9 93.68c-7.875 5.75-19.12 .0497-19.12-9.7v-83.98h-96c-35.25 0-64-28.75-64-63.1V63.1c0-35.25 28.75-63.1 64-63.1h384C483.2 0 511.1 28.75 511.1 63.1z"/>
        </svg>
        <p class="text-white font-bold ml-2" id="titleOfApp">zMessenger</p>
    </div>
    <div class="w-10/12">
        <p class="text-white font-bold ml-2" id="titleOfAppPhone">zMessenger</p>
        {% if user.is_authenticated %}
            <div class="flex justify-between mx-4">
                <p class="text-white uppercase">{{ user }}</p>
                <a href="{% url 'users:logout' %}" class="text-white">
                    Logout
                </a>
            </div>
        {% else %}
            <a href="{% url 'users:signin' %}" class="text-white flex float-right mx-4">
                Login
            </a>
        {% endif %}
    </div>
</div>